@import url(./root.css);

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  /* Use for Z-index new stacking context*/
  /* isolation: isolate; */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  overflow-wrap: break-word;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  /* max-width: 100%; */
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Navbar              */
/* ------------------- */ 
header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-inline: auto;
    padding-inline: auto;
    backdrop-filter: blur(15px);
    z-index: 9;
}

.navbar{
    height: 5rem;
    width: 80%;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
}

.navbar__brand{
    width: 12%;
}

.navbar__nav{
    gap: 2rem;
    justify-content: space-between;
}

.nav__btn-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}

.nav__btn-signup{
    background: var(--color-green-primary);
}

/* ------------------- */
/* Hero Section        */
/* ------------------- */ 
main{
    margin-top: 5rem;
}

.hero{
    margin: 10rem 0 5rem;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero__left{
    margin: auto 0;
}

.left-shape{
    position: absolute;
    top: 30%;
    left: 10%;
}

.hero__title{
  color: var(--color-black-secondary);
  margin-bottom: 3rem;
}

.hero__description{
  color: var(--color-black-primary);
  width: 80%;
  margin: 2rem 0;
}

.hero__subscription{
  border-radius: 1rem;
  padding: .4rem .5rem;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  width: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hero__email-input{
  border: none;
  width: 20rem;
  outline: none;
}

.hero__email-input:focus{
  border: 1px dotted var(--color-black-primary);
}

.hero__email-input::placeholder{
  font-size: var(--font-size-sm);
  color: var(--color-black-dim);
}

.hero__submit-btn{
  background: var(--color-green-primary);
  cursor: pointer;
}

.hero__right{
    margin: auto;
}

.hero__right-shape-1{
  position: absolute;
  width: 9rem;
  left: 62rem;
  top: 30rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: .5rem;
}

.hero__right-shape-2{
  position: absolute;
  width: 10rem;
  right: 16rem;
  top: 22rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: .5rem;
}

.hero__revenue-report{
  display: flex;
  justify-content: center;
}

.hero__right-img{
  width: 70%;
  border-radius: 1rem;
  box-shadow: 3px -11px 220px -70px rgba(199,21,133,0.75), 25px 20px 200px -70px rgba(238,105,7,0.75);
  -webkit-box-shadow: 3px -11px 220px -70px rgba(199,21,133,0.75), 25px 20px 200px -70px rgba(238,105,7,0.75);
  -moz-box-shadow: 3px -11px 220px -70px rgba(199,21,133,0.75), 25px 20px 200px -70px rgba(238,105,7,0.75);
}

/* ------------------- */
/* Feature Section     */
/* ------------------- */ 
.features{
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--color-background-white);
}

.features::before{
  content: "";
  position: absolute;
  background: var(--color-black-primary);
  height: 18rem;
  width: 99vw;
  left: 0;
}

.feature{
  padding: 2.3rem 0;
  z-index: 1;
  position: relative;
}

.feature:not(:last-child)::after{
  content: "";
  position: absolute;
  top: 20%;
  right: 2.5rem;
  height: 65%;
  width: 1px;
  border-right:1px solid var(--color-black-dim);
}

.feature__wrapper{
  background: var(--color-green-primary);
  width: fit-content;
  display: inline-block;
  border-radius: 50%;
  margin: .5rem 0;
}

.feature__wrapper img{
  width: 4rem;
  padding: .5rem;
}

.feature__solution-title{
  margin: 1rem 0;
}

.feature__solution-description{
  width: 80%;
}

/* ------------------- */
/* Service Section     */
/* ------------------- */ 
.services{
  margin: 10rem 0 5rem;
  position: relative;
}

.services__shape{
  display: inline-block;
  position: absolute;
  left: 16rem;
  top: 5rem;
}

.services__shape img{
  width: 90%;
}

.services__header{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 0 5rem;
}

.services__header-title{
  color: var(--color-black-secondary);
}

.services__header-right{
  margin: auto 0;
}

.services__header-description{
  width: 70%;
  margin: 0 0 2rem;
}

.services__header-btn{
  background: var(--color-green-primary);
}

/*--------- Service main--------- */
.services__main{
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.service{
  border: 1px solid var(--color-black-primary);
  border-radius: 1rem;
  padding: 2rem;
}

.service:not(:last-child){
  margin-right: 1.5rem;
}

.services__wrapper-seo{
  display: inline-block;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23aadef8' d='M60.2,-19.6C66.7,0.3,52.8,26.9,30.7,43.1C8.6,59.4,-21.6,65.3,-42.6,51.7C-63.7,38.1,-75.5,4.8,-66.9,-18.1C-58.3,-41,-29.1,-53.6,-1.1,-53.3C26.9,-52.9,53.8,-39.5,60.2,-19.6Z' transform='translate(100 100)' /%3E%3C/svg%3E") center/contain no-repeat;
  padding: 1.7rem;
  margin: 0;
}

.services__wrapper-seo img{
  display: inline-block;
  width: 50%;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0;
}

.services__wrapper-sms{
  display: inline-block;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23c5c7f1' d='M62.4,-20.5C71.2,6.8,62,39.8,40.7,55C19.4,70.3,-14.1,67.8,-34.9,51.8C-55.7,35.8,-63.9,6.2,-56,-19.9C-48.1,-46,-24,-68.7,1.4,-69.1C26.8,-69.6,53.6,-47.8,62.4,-20.5Z' transform='translate(100 100)' /%3E%3C/svg%3E") center/contain no-repeat;
  padding: 1.7rem;
  margin: 0;
}

.services__wrapper-sms img{
  display: inline-block;
  width: 60%;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0;
}

.services__wrapper-dm{
  display: inline-block;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23e099fa' d='M60.2,-19.6C66.7,0.3,52.8,26.9,30.7,43.1C8.6,59.4,-21.6,65.3,-42.6,51.7C-63.7,38.1,-75.5,4.8,-66.9,-18.1C-58.3,-41,-29.1,-53.6,-1.1,-53.3C26.9,-52.9,53.8,-39.5,60.2,-19.6Z' transform='translate(100 100)' /%3E%3C/svg%3E") center/contain no-repeat;
  padding: 1.8rem;
  margin: 0;
}

.services__wrapper-dm img{
  display: inline-block;
  width: 60%;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0;
}

.services__content{
  display: grid;
  gap: 1.5rem;
}

.services__title{
  color: var(--color-black-secondary);
}

.services__btn{
  width: fit-content;
}

/*--------- Service bottom--------- */
.services__bottom{
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.services__bottom{
  margin: 10rem 0 5rem;
}

.services__bottom-left{
  margin: auto 0;
}

.services__bottom-title{
  margin-bottom: 1.5rem;
  color: var(--color-black-secondary);
}

.services__bottom-description{
  width: 80%;
  margin: 1.5rem 0;
}

.services__bottom-btn{
  width: fit-content;
}

.services__bottom-img img{
  width: 120%;
}

.services__bottom-img{
  width: 70%;
  border-radius: 1rem;
  box-shadow: 0px -21px 150px -27px rgba(223,156,245,0.75), 10px 0px 150px -50px rgba(249,187,31,0.75), 10px 0px 150px -50px rgba(238,43,43,0.75);
  -webkit-box-shadow: 0px -21px 150px -27px rgba(223,156,245,0.75), 10px 0px 150px -50px rgba(249,187,31,0.75), 10px 0px 150px -50px rgba(238,43,43,0.75);
  -moz-box-shadow: 0px -21px 150px -27px rgba(223,156,245,0.75), 10px 0px 150px -50px rgba(249,187,31,0.75), 10px 0px 150px -50px rgba(238,43,43,0.75);
}

.services__bottom-img img{
  border-radius: 1rem;
}

/* ------------------- */
/* Analytic Section    */
/* ------------------- */
.analytics{
  margin: 20rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

/* .analytics::before{
  content: "";
  background: url(../Images/analytics/analytics-bg.png) center/cover no-repeat;
  position: absolute;
  left: 0;
  height: 90%;
  width: 100%;
  z-index: -1;
} */

.analytics::before{
  content: "";
  position: absolute;
  background: var(--color-green-primary);
  height: 40rem;
  width: 99vw;
  left: 0;
  z-index: -1;
}

.analytics__left{
  position: relative;
}

.analytics__img-sm{
  position: absolute;
  left: -12%;
  top: 20%;
}

.analytics__img-sm img{
  width: 10rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
}

.analytics-img img{
  width: 80%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.analytics__right{
  margin: auto 0;
}

.analytics__title{
  color: var(--color-black-primary);
  margin-bottom: 2rem;
}

.analytics__description{
  color: var(--color-black-primary);
  margin-bottom: 1rem;
}

.analytics__btn{
  color: var(--color-black-primary);
} 

/* ------------------- */
/* Client Review       */
/* ------------------- */ 
.review{
  position: relative;
}

.review__header{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.review__shape{
  position: absolute;
  top: -2.5rem;
  left: 38%;
}

.review__title{
  color: var(--color-black-primary);
}

.review__right{
  display: flex;
  gap: 4rem;
  justify-content: flex-end;
}

.review__header-arrow{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem 1.3rem;
  border-radius: 50%;
}

.review__right .fa-chevron-left{
  color: var(--color-black-primary);
}

.review__right .fa-chevron-right{
  color: var(--color-black-dim);
}

.review__main{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.review__main-avatar img{
  width: 8%;
}

.review_main-box{
  border: .5px solid var(--color-black-dim);
  padding: 2rem;
  border-radius: .5rem;
}

.review_main-box:not(:last-child){
  margin-right: 1.5rem;
}

.review__wrapper img{
  width: 15%;
}

.review__main-content{
  margin-top: 1.4rem;
}

.review__main-review{
  color: var(--color-black-secondary);
}

.review__main-reviewer{
  margin-top: .7rem;
  display: flex;
  align-items: center;
}

.review__main-reviewer img{
  width: 15%;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}

.review__main-intro{
  margin-left: .8rem;
}

.review_main-name{
  color: var(--color-black-primary);
}

.review__main-designation{
  color: var(--color-black-medium);
}

/* ------------------- */
/* Brands              */
/* ------------------- */



#footer{
  margin-bottom: 100rem;
}