/*===== Extra Large Screen =====*/
@media screen and (max-width: 1920px) { }

/*===== Medium Large Screen =====*/
@media screen and (max-width: 1200px) {
    .navbar{
        height: 4.5rem;
        width: 90%;
    }

    .nav__btn-group{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        align-items: center;
    }
    
    .nav__btn-signup{
        width: 8rem;
        height: 2.2rem;
        background: var(--color-green-primary);
        font-size: var(--font-size-sm);
    }

    .nav__btn-login{
        width: 8rem;
        height: 2.2rem;
        font-size: var(--font-size-sm);
    }

    * ------------------- */
    /* Hero Section        */
    /* ------------------- */ 
    main{
        margin-top: 4rem;
    }

    .hero{
        margin: 8rem 0 5rem;
    }

    .hero__title{
        margin-bottom: 2.5rem;
    }
}

/*===== Large Screen =====*/
@media screen and (max-width: 1024px) { }

/*===== Notebook Size Large Screen =====*/
@media screen and (max-width: 900px) { }

/*===== Notebook Size Standard Screen =====*/
@media screen and (max-width: 768px) { }

/*===== Tablet Screen =====*/
@media screen and (max-width: 600px) { }

/*===== Mobile Devices Screen =====*/
@media screen and (max-width: 480px) { }

/*===== Extra Small Feature Phone Screen =====*/
@media screen and (max-width: 320px) { }











