@use '../mediaqueries' as media;

// REUSABLE CSS CLASSES
.section{
    padding: 4.5rem 0 1rem;
    
    &__title, &__title-center{
        // font-size: var(--h2-font-size);
        // color: var(--title-color);
        // text-align: center;
        // margin-bottom: var(--mb-1);
    }
}

// LAYOUT
.container{
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    @include media.breakpoints-up(large){
        margin-inline: auto;
    }
}

.grid{
    display: grid;
    gap: 1.5rem;
}